

.box-product    { width: 100%; height:auto; list-style: none; position: relative; background:none; border:none; margin: 0; }
.box-product  li { display: block; float: none; padding: 0; list-style: none; min-height: 300px; width:auto; margin: 0 0 0 0px; padding:0 33px 0 56px; overflow:hidden; background:url(../Images/Row-product-bot.png) left bottom no-repeat; }
.box-product  li:first-child { margin-bottom:-3px;}
.box-product  li div.row-product { float:left; width:182px; overflow:hidden; 	position:relative; 	min-height:245px; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}


/* ---------------------- specials products --- */
.box-special { width:100%; height:637px; background:#dd993a url(../Images/box-special.jpg) center top no-repeat; }
.module-specials {  border-top:none; position:relative; margin-bottom:20px;}
	
.module-specials h3{color:#000; letter-spacing:0; background:none; font:bold 19px/32px "Trebuchet MS", Arial, Helvetica, sans-serif; font-family: 'Amaranth', sans-serif; margin:0; padding:0px 0 8px 1px; text-transform:uppercase;}
.module-specials .boxIndent	{ padding:34px 0px 0 0px;  margin:0;  border:none; background:none; position:relative;}
.module-specials .featuredIndent 
	{
		background:none;
		border:none;
		text-align:left;
		overflow:hidden;
		position:relative;
		min-height:301px;
		padding:0;
		margin:0px 0px 0px 0px;
		position:relative;
		z-index:1;
	}
	
	.module-specials .bg { display:block; background:url(../Images/module-specials_bg.png) left top no-repeat; width:157px; height:236px; position:absolute; top:-236px; left:0; z-index:2;}
	
	.module-specials  .product_image_container {
	text-align:left;
	padding:0;
	background:none;
	border:none;
	width:182px;
	height:246px;
	position:relative;
	}
	.module-specials .product_image_shadow { width:179px; height:246px; position:absolute; right:1px; top:0; z-index:0; background:url(../Images/product_image_shadow.png) left top no-repeat;}

	.module-specials .product_image_container img { 
	background:#fff;
	height:236px;
	width:157px;
	position:relative;
	z-index:1;
	}	

	.module-specials .product-options {
		padding:1px 0px 0px 0px;
		margin:0;
		border-top:none;
		position:relative;
		overflow:hidden;
		width:100%;
	}
		.module-specials div.product_name {
		padding:20px 15px 0px 15px;
		margin:0 0px 0 0px;
		text-align:center;
		min-height:85px;
	}
	
	
		.module-specials a.product_name:hover 
		{
			color:#e78c2f;
	text-decoration:none;
		}
	
		.module-specials .box_product_price 
			{
				padding:10px 0px 0px 0px;
				margin:0;
				margin-top:0;
				border-bottom:none;
				position:relative;
				width:100%;
				text-align:center;
			}
		.module-specials .box_product_price em { color:#303030; font:normal 12px/18px Arial, Helvetica, sans-serif;  display:none; position:absolute; top:7px; left:0px;}
		.module-specials .color { background:none;overflow:hidden;}
		 .product-Old-Price {display:inline-block;}
	
	.module-specials a.product_name {
		color:#f0f0f0;
		font:bold 17px/24px Arial, Helvetica, sans-serif;
		text-decoration:none;
		text-transform:none;}
			
	.module-specials .productPrice
	{
		color:#fbab5f;
		font:normal 30px/30px Arial, Helvetica, sans-serif;
		font-family: 'Playfair Display', serif;
		white-space: nowrap;
		display:inline-block;
		padding:0 0px 0 0;
		margin:0px;
		text-transform:uppercase;
	}
	.module-specials .product-Old-Price {
	text-decoration:line-through;
	color:#555555;
	font:normal 17px/18px Arial, Helvetica, sans-serif;
	padding:0px 0 0px 0px;
	margin0;
	display:none;
}

/* ---------------------- end specials products --- */

/* ------------------------------------- multi --- */		
	.module_multi {  position:relative; margin-bottom:20px; background:none; padding:0; width:100%; }
.module_multi .boxIndent { padding:28px 0 0 0;  margin:0; margin-left:-24px; margin-bottom:-33px;overflow:hidden; position:relative; border:none; background:none;}
.module_multi h3 { color:#2b2b2b; letter-spacing:0; background:none; font:normal 27px/27px Arial, Helvetica, sans-serif; margin:-4px 0 0 0; padding:0px 0 8px 0px; text-transform:none;}


.x-tab-panel-bwrap { border:none !important; background:none !important; /* position:relative; overflow:hidden!important;*/}
.tab-page { /*position:relative; overflow:hidden!important;*/}
.x-tab-panel-body { background:none !important; border:none !important;}

.x-panel-body { background:none !important; border:none;}

.x-tab-panel-body-top { background:none !important; border:none !important;}
.x-panel { background:none !important; border:none !important;}
.x-panel-noborder { background:none !important; border:none !important;}
.new_all_in_one4d74eb32aa531 { background:none !important; border:none !important;}

.module_multi td {  background:none !important; border:none !important;  position:relative; width:239px; }
.x-panel { background:none !important; border:none !important; } 

.module_multi .featuredIndent {
		background:none;
		border:none;
		text-align:left;
		overflow:hidden;
		position:relative;
		min-height:20px;
		padding:0px 0px 5px 0px;
		margin:0px 0px 33px 24px;
}

.module_multi div.product_name {
		padding:15px 0px 0px 0px;
		margin:0 0px 0 0px;
		text-align:left;
		min-height:37px;
		border-bottom:none;
		}
.module_multi .product_name a {
		color:#c36318;
		font:normal 12px/18px Arial, Helvetica, sans-serif;
		text-decoration:none;
		text-transform:none;}
.module_multi .product_name a:hover {
	color:#000;
	text-decoration:none;
}
.module_multi .product-options {
	padding:1px 0px 0px 0px;
		margin:0;
		border-top:none;
		position:relative;
		overflow:hidden;
		width:100%;
		}
.module_multi .box_product_price em { color:#303030; font:normal 12px/18px Arial, Helvetica, sans-serif;  display:none; position:absolute; top:7px; left:0px;}		
.module_multi .productPrice
	{
		color:#525151;
		font:bold13px/18px Arial, Helvetica, sans-serif;
		white-space: nowrap;
		display:inline-block;
		padding:0 0px 0 0;
		margin:0px;
		text-transform:uppercase;
	}
	.module_multi .product-Old-Price {
	text-decoration:line-through;
	color:#555555;
	font:normal 17px/18px Arial, Helvetica, sans-serif;
	padding:0px 0 0px 0px;
	margin:0;
	display:none;
}.module_multi .box_product_price {
		padding:0px 0px 0px 0px;
		margin:0;
		margin-top:0;
		border-bottom:none;
		position:relative;
		float:none;
		width:auto;

	}
.module_multi .fright , .module-specials .fright	{ float:right;}

.module_multi .product_image_container img { 
	background:#fff;
	height:175px;
	width:117px;}
.module_multi .product_image_container  { 
	text-align:left;
	padding:0px 0px 0px 0px;
	margin:0;
	background:none;
	border:none;
	width:auto;
	height:auto;
	}
.module_multi .discount { font-size:17px; z-index:10; position:relative; top:-206px; left:53px; *left:43px; display:none; font-weight:bold; background:none; width:57px; height:41px; padding:8px 0px 0px 0px;
*margin:0px 0px 0px 35px;
 color:#FFF;
 font-size:18px;
 font-weight:normal;
}
* + html .module_multi .discount { left:35px;}

.x-tab-panel-header  { display:none !important; visibility:hidden;}
#all_in_one4d760760eabfb { position:relative; overflow:hidden !important;}
/* -------------------------------------end  multi --- */		


