/* CSS Document */
/*--------------------------------------body---*/
body, input, label {
	color:#282828;
	font:normal 12px/17px Arial, Helvetica, sans-serif;
}
input, select {
	color:#939393;
	margin-top:0px;
	font-size:12px;
	line-height:normal;
	padding:4px 5px 4px 5px;
}
textarea  { max-width:550px;}
a {
	color:#c36318;
	text-decoration:underline;
}
a:hover {text-decoration:none}

fieldset {padding:0; margin:0;}

fieldset td {padding:2px 0 2px 0;}

h3 { line-height:1.2em; color:#333;}
h2 { line-height:1.2em; color:#333;}
/*----------------------------------------------------------content---*/

/*-----------------------------article_settings-*/
h6 {
	font:bold 12px Arial, Helvetica, sans-serif;
}
.article-decor {
	padding:0px 0px 12px 0px;
}
.article_separator	{
	display:block;
	line-height:1px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:1px;
	font-size:1px;
}
.column_separator	{
	padding:0px 0px 0px 12px !important;
}
.article_column {
	padding:0px 0px 0px 0px;
}
.contentpane {
	padding:0px 0px 10px 0px;
}
.contentpane img {
	display:block; float:right;
}
.contentpaneopen h3 {
	overflow:hidden;
}
.contentpaneopen h3 img {
	margin:0px 3px 0px 0px !important;
	float:left;
}
.contentpaneopen ul,
.article-indent ul {
	list-style:none;
	margin:0px 0px 0px 15px;
}
.contentpaneopen ul li,
.article-indent ul li {
	padding:0px 0px 6px 10px;
	background:url(../Images/listMarker.gif) no-repeat 0 8px;
}
.contentdescription img {
	margin:0px 20px 0px 0px;
}
.contentpaneopen img{
	margin:0px 15px 0px 0px;
}
/*---------------------------content-heading---*/
table.pollstableborder { background:#fff;}
#poll .componentheading {
	background:#fcfcfc;
	padding:8px 0 9px 19px;
	color:#424242;
	font:normal 13px/21px Arial, Helvetica, sans-serif;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	letter-spacing:0px;  }
#poll .contentpane {border:none; margin:5px; padding:5px 10px;}

.contentpaneopen { padding:0; margin:0px; border-collapse:collapse;}
.contentheading
 {
	background:none;
	font:normal 27px/27px Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	text-transform:none;
	color:#2b2b2b;
	border:none;
	padding:2px 0 0px 1px;
	margin:0px 0px 0px 0px;
}

.componentheading {
	background:none;
	font:normal 27px/27px Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	text-transform:none;
	color:#2b2b2b;
	border:none;
	padding:2px 0 15px 1px;
	margin:0px 0px 0px 0px;
}
.contentpane .componentheading {
	background:none;
}
.contentpaneopen p {
	padding:0px 0px 10px 0px;
}
td.buttonheading	{
	padding:10px 10px 0px 0px !important;
	background:url(../Images/title-bg1.gif) left top repeat-x;
}
.buttonheading img	{
	padding:0;
	margin:0 0px;
}
span.contentheading {
	font-weight:normal;
	display:block;
	padding:15px 0px 15px 0px;
	margin:0px 0px 15px 0px;
}

/*---------------------------about us---*/
.about { padding:14px 28px 0 0;}
.about h2 { font:bold 12px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; padding:0; margin:0;}
.about p { margin:0; padding:19px 0 0 0; color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif;}
.about p.p1-top { padding-top:23px;}
.about ul { list-style-type:none; margin:0 0 -12px 0; padding:20px 0 0 0;}
.about ul li { color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; background:url(../Images/listMarker.gif) no-repeat 0 6px; padding:0 0 0 20px; margin-bottom:13px;} 
.about ul li strong { color:#333;  font-weight:bold; }

/*---------------------------delivery---*/
.delivery { padding:14px 28px 0 0;}
.delivery h2 { font:bold 12px/21px Arial, Helvetica, sans-serif;color:#333; text-transform:uppercase; padding:0; margin:0;}
.delivery p { margin:0; padding:19px 0 0 0; color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif;}
.delivery ul { list-style-type:none; margin:0 0 0px 0; padding:19px 0 8px 0;}
.delivery ul li { color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; background:url(../Images/listMarker.gif) no-repeat 0 6px; padding:0 0 0 20px; margin-bottom:13px;} 
.delivery ul li strong { color:#333;  }


/*===== ACCORDION =====*/
.FAQS { padding:14px 0px 0 0; width:100%;}
.FAQS h2 { font:bold 12px/21px Arial, Helvetica, sans-serif; color:#333; text-transform:uppercase; padding:0; margin:0 0 14px 0;}


	dl#accordion {
		border:1px solid #e5e5e5;
		border-bottom:none;
	 	list-style-type:none;
	 	padding-left:0px;
	    margin: 0;
	    width:675px;
	    overflow:hidden;
		position:relative;
	    }
	    dl#accordion dt {
	        margin:0;
			padding:0px;
			position:relative;
			display:block;
			border-bottom:1px solid #e5e5e5;
			 box-shadow: 0 0 30px #fafafa inset;
 			-moz-box-shadow: 0 0 30px #fafafa inset;
			-webkit-box-shadow: 0 0 30px #fafafa inset;
			position:relative;
			background:#fff;
			
	    }
		dl#accordion .bg {padding: 0 10px 0 38px; overflow:hidden;margin:0px 0 1px 0;}
		
		
	    dl#accordion dt span {
			background: url(../Images/sub-plus.gif) 10px center no-repeat ;
			padding:0;
			color:#505050!important;
			font-size: 12px;
			font-weight: normal;
			font-family: 'Oswald', sans-serif;
			text-transform:none;
			line-height:43px;
			cursor:pointer;
			margin:0;
			display:block;
			height:1%;
	    }
	 
	 
	            dl#accordion dt.active span{
					z-index:1;
					background: url(../Images/sub-minus.gif) 10px center no-repeat ;
					color:#c36318 !important;
					
	            }
	        dl#accordion dd {
	            background:none; 
	            display:none;
	            margin:0;
				padding:0;
				overflow:hidden;
				border-bottom:1px solid #e5e5e5;
				
				
	        }
	            dl#accordion dd .indent {
	               background:#f7f7f7;
	                padding:15px 20px 5px 17px;
					min-height:55px;
					margin:0;
	            }
				
			
			dl#accordion dd .indent p {display:inline-block; margin:0px;  color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; 
			background:url(../Images/accordionMarker.gif) left 6px no-repeat; padding-left:20px;}
				
/*-----------------------------item-info---*/

.iteminfo				{
	padding:0px 0px 6px 0px; 
	margin:0px 0px 15px 0px;
}
.modifydate				{
	border-top:1px dotted #2b2b2b;
	font-size:11px; 
	margin:10px 0 0 0;
	padding:10px 0px 10px 0px; 
	text-decoration:none !important; 
}
.createdby				{
	display:block;
	text-transform:none;
}
.createdate				{
	line-height:11px;
	font-size:11px;
	margin:0px 0px 5px 0px; 
	padding:0px 0px 10px 0px; 
	display:block;
	border-bottom:1px dotted #2b2b2b;
}
div.small				{ /* Written by */
	display:block;
	font-size:11px;
	font-weight:normal;
	margin:0px 0px 0px 0px; 
	padding:0px 0px 7px 0px;
	white-space:nowrap;
	line-height:11px;
}

/*-----------------------------------buttons---*/
#acymodifyform { overflow:hidden;}
#acymodifyform legend { margin-left:10px; border:1px solid #e5e5e5; width:150px; text-align:center; padding:2px 0 2px 0;}
#acymodifyform .button { width:120px;} 
.acymailing_footer { display:none;}


	.button, 
	.validate,
	.modal-button,
	div.blank a	{
			background:url(../Images/button1.png) left top no-repeat;
			border:none;
			float:left;
			color:#967c68;
			font:bold 12px/1.2em Arial, Helvetica, sans-serif;
			padding:0px 0px 2px 0px;
			margin:0px 11px 0px 0px;
			height:33px;
			width:90px;
			text-align:center;
			text-decoration:none;
			text-transform:none;
			display:block;
			cursor:pointer;
			vertical-align:middle;
	}
	
	a.button { height:21px; padding-top:3px;}
	
	.button:hover,
	.validate:hover,
	.modal-button:hover,
	.readmore a:hover,
	div.blank a:hover {
		background:url(../Images/button1-active.png) left top no-repeat;
		color:#FFF;
	}
	
	.ask_seller.nobutton { float:right; height:20px; padding-left:20px; margin-top:24px; margin-right:-11px; background:url(../Images/virtuemart/no-button-bg.png) left top no-repeat;}
	.nobutton .button, .contentpane .nobutton .button {
		background:url(../Images/virtuemart/nonebutton.gif) right center no-repeat;
		padding:0 7px 0 0px;
		color:#ee0000;
		border:none !important;
		font-size:12px;
		line-height:17px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:normal;
		float:none;
		width:auto;
		display:inline-block;
		text-decoration:underline;
		text-transform:none;
	}
	.nobutton .button:hover {
		text-decoration:none;
	}
	
	
	
	
	.modal-button,
	.readmore a,
	div.blank a {
		float:left;
		padding:2px 5px 2px 5px;
		height:auto;
	}
	.modal-button {
		margin-right:10px;
	}
	#editor-xtd-buttons {
		padding:5px 0px 5px 0px;
		overflow:hidden;
		width:300px;
		float:left;
	}
	#editor-xtd-buttons .readmore {
		display:inline;
	}
	.blank {
		margin:5px 0px 0px 0px;
	}
	div.blank a {
		width:114px;
		background:#000;
	}

/*-----------------------------------read-more---*/

	div.readmore	{
		overflow:hidden;
		margin:0px 0px 0px 0px; 
		padding:0px 0px 0px 0px;
	}
	div a.readon {
		background:none;
		border:none;
		color:#fbba21;
		display:inline-block;
		font:bold 12px/14px Arial, Helvetica, sans-serif;
		padding:0 0px 0 0px;
		width:auto;
		text-align:center;
	}

/*-----------------------------blog-more---*/

	.blog_more		{
		padding:0px 0px 10px 0px;
	}
	.blog_more h2	{
		font-size:12px;  
		padding:0px 0px 0px 0px;
	}
	.blog_more ul {
		margin:10px 0px 0px 15px;
	}
	.blog_more ul li {
		padding:0px 0px 0px 0px !important;
	}
	.blog_more a	{
		text-decoration:underline
	}
	.blog_more a:hover	{
		text-decoration:none;
	}

/*-----------------------------pagenav---*/

	.pagenav	{
		font-size:12px; 
		font-weight:normal
	}
	a.pagenav	{
		font-weight:normal;
		padding:0px 2px 0px 2px;
		margin:0px 2px 0px 0px;
		text-decoration:none
	}
	a.pagenav:hover	{
		text-decoration:underline
	}
	.pagination_nav	{
		font-size:12px; 
		padding:10px 20px 0px 27px;
	}
	.pagination_nav div	{
		padding:5px 0px 5px 0px; 
	}
	.pagination	{
		margin-top:10px;
		margin-bottom:10px;
	}
	.pagination	li {
		padding:0;
	}	
	.pagination_result {
		padding:5px 0px 0px 0px;
		line-height:16px;
	}
	.pagination span {
		padding:0px 10px 0px 0px;
	}
	.pagination strong span {
		padding:0px 6px 0px 6px;
		font-weight:normal;
	}

/*--------------------------------------result---*/
	.searchArea {
		border:1px solid #ebebeb;
		padding:10px;
		background:#fff;
	}
	.searchArea  td { vertical-align:middle;}
	#limit { width:50px;}
	#ordering { width:auto!important;}
	.sectiontableentry1 td, .sectiontableentry0 td, .sectiontableentry2 td 	{
		padding-bottom:5px;
		padding-top:5px;
	}
	#search_searchword {
		font:normal 12px/14px Arial, Helvetica, sans-serif;
		padding:2px 2px 2px 2px;
		vertical-align:top;
	}
	.var1 {
		background:#f1f1f1;
		padding:5px !important;
		margin:10px 0px 5px 0px;
	}
	.var2 {
		background:#f7f7f7;
		padding:5px !important;
		margin:10px 0px 5px 0px;
	}
	.results {
		padding:0px 20px 0px 20px;
	}
	
	.results ol li {
		padding:0px 0px 10px 0px;
		text-align:justify;
	}
	.searchintro {
		padding:10px 0px 10px 20px;
	}
	.searchintro b,
	.searchintro strong {
		color:#c36318;
	}
	.sectiontableheader {
		padding:10px 0px 10px 4px;
		background:none;
		color:#6f6e6e;
		font-weight:bold;
		border:none;
	}
	span.sectiontableheader {
		padding:2px 0px 2px 4px;}
	
	.sectiontableheader a {
		color:#000;
	}
	.sectiontableheader strong {
		color:#666;
	}

/*--------------------------------------archive---*/
	.archiveBlock .button {
		display:inline-block;
		margin:0px 0px 0px 5px;
	}
	ul#archive-list h4 a {
		font-size:12px;
		text-transform:none;
	}

/*--------------------------------------poll---*/
	dl.poll {
		padding:0px 0px 0px 0;
	}
	#poll h3 {
		font-size:120%;
		padding:0px 0px 10px 0px;
	}
	dl.poll dt {
		font-weight:bold;
		padding:7px 0px 0px 0px;
	}
	.poll .question {
		font:normal 13px/17px Arial, Helvetica, sans-serif;
		font-family: 'Oswald', sans-serif;
		padding:0px 10px 0px 0px;
	}
	.poll-body label {
		font:normal 11px/18px Arial, Helvetica, sans-serif;
		color:#787878;
	}
	.poll .buttons {
		padding:8px 0px 6px 0px;
		overflow:hidden;
	}
	.poll .button {
		border:none;
		font:bold 12px/20px Arial, Helvetica, sans-serif;
		padding:0px 0px 3px 0px;
		margin:0 6px 0 1px; 
		height:33px;
		width:90px;
		display:inline-block;
		vertical-align:top;
		text-transform:uppercase;
		
	}
	.poll .section {
		overflow:hidden;
		padding:6px 0px 0px 0px;
		width:100%;
		color:#000;
	}
	.poll .section2	{
		overflow:hidden;
		padding:6px 0px 0px 0px;
		width:100%;
	}
	.poll .radio {
		float:left;
		width:20px;
	}
	.poll .radio input {
		display:block;
		width:16px;
		height:16px;
		vertical-align:middle;
	}
	.poll .var {
		margin:0px 0px 0px 20px;
		text-align:left;
	}
	.display {
		padding:0px 0px 10px 0px;
	}
	.display select	{
		border:1px solid #46462f;
		width:100px;
	}
	.td_1,
	.td_2 {
		width:5%;
		text-align:center;
	}
	.td_3 {
		width:90%;
		padding:0px 0px 0px 10px;
	}
	#itema,
	#itemb,
	#itemc {
		background:#a3a3a3;
		padding-bottom:5px;
		padding-top:5px;
		font-weight:bold;
		padding-left:4px;
		color:#fff;
	}
	.pollstableborder .question {
		padding:5px 0px 0px 85px;
	}

/*--------------------------------------userforms---*/
	dl.contentpane dt {
		padding:10px 0px 20px 0px;
	}
	dl.contentpane dd {
		width:100%;
		overflow:hidden;
	}
	dl.contentpane div {
		vertical-align:middle;
	}
	dl.contentpane .description {
		width:110px;
		padding:0px 0px 0px 0px;
		vertical-align:middle;
	}
	dl.contentpane .input-field {
		width:160px;
		padding:0px 0px 0px 0px;
		vertical-align:middle;
	}
	dl.contentpane .button-field {
		width:140px;
		padding:0px 0px 0px 0px;
		vertical-align:middle;
	}

/* ------------------------------------- search --- */
	.search {
		overflow:hidden;
		background:none;
		margin:0px 0 0 0px;
		position:relative;
	}
	#search h3 {font:normal 11px/14px Arial, Helvetica, sans-serif; text-transform:none; color:#686868; letter-spacing:0px; padding-right:6px; float:left; padding-top:2px;}
	
	.search .button {
		text-indent:-9999px;
		background:url(../Images/search-button.png) left top no-repeat;
		font:bold 14px/21px Arial, Helvetica, sans-serif;
		border:none !important;
		text-transform:uppercase;
		letter-spacing:-1px;
		color:#fff;
		width:33px;
		height:31px;
		position:absolute;
		right:0px;
		top:1px;
		float:none;
		padding:0 0 0px 0;
		vertical-align:middle;
		margin:0px 0px 0 0px;
	}
	.search .button:hover {background:url(../Images/search-button-active.png) left top no-repeat;}
	
	.search .inputbox {
		background:url(../Images/search-input.png) left top no-repeat;
		text-transform:none;
		border:none;
		color:#a8a8a8;
		font:normal 12px/19px Arial, Helvetica, sans-serif!important;
		padding:8px 20px 8px 10px;
		margin:0px 0px 0px 0px;
		vertical-align:top;
		display:inline-block;
		width:316px;
		height:17px;
		float:left;
	}

	/* ------------------------------------- search-result --- */
		.search_result {
			padding:0px 20px 0px 0px;
		}
		.search_result h3 {
			color:#808080;
			font-size:14px;
		}
		.highlight	{  /* highlight sought word */
			color:#c36318;
			font-weight:bold;
		}

/* ------------------------------------- admin-form --- */
	.adminform td {
		padding:0px 0px 2px 0px;
	}
/* ------------------------------------- system-error-messages --- */
	.error {
		margin:0px 0px 10px 0px;
	}
		#system-message dt.error,
		dt.message {
			display: none;
		}
		.error dd ul {
			background:#573628;
			border-top:3px solid #670606;
			border-bottom:3px solid #670606;
			color:#fff;
			margin:0;
			padding:5px 0px 5px 5px;
		}
		.error dd ul li	{
			background:none !important;
			color:#fff !important; 
			margin:0px 0px 0px 20px !important;
		}

/* --------------------------------------------------------------------------------- boxes --- */
	.module,
	.module_text,
	.module_menu {
		margin:0;
		margin-bottom:20px;
		padding:0;
		width:100%;
		background:none;
		border:none;
	}
	.module .boxIndent,
	.module_text .boxIndent,
	.module_menu .boxIndent {
		background:#fff;
		padding:10px 5px 15px 15px;
		margin:1px 0 0 0;
		border:1px solid #e1dfdf;
	
		 position:relative;
	}
	.container .module .boxIndent {
		padding:0;
		background:none;
	}
	
		/* ------------------- title --- */
		.module h3,
		.module_text h3,
		.module_menu h3
		 {
			background:none;
			font:normal 27px/27px Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			text-transform:none;
			color:#2b2b2b;
			border:none;
			padding:2px 0 8px 1px;
			margin:0px 0px 0px 0px;
		}
		
		
		#vmMainPage h3 {
			background:none;
			font:normal 27px/27px Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			text-transform:none;
			color:#2b2b2b;
			border:none;
			padding:2px 0 8px 1px;
			margin:0px 0px 0px 0px;
			} 	
		
		h3.categoryName  
		 {
			background:none;
			font:normal 27px/27px Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			text-transform:none;
			color:#2b2b2b;
			border:none;
			padding:2px 0 8px 1px;
			margin:0px 0px 0px 0px;
		}
		.title {
			background:none;
			font:normal 27px/27px Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			text-transform:none;
			color:#2b2b2b;
			border:none;
			padding:2px 0 8px 1px;
			margin:0px 0px 0px 0px;
			}
			
		.title1 {
			background:none;
			font:normal 27px/27px Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			text-transform:none;
			color:#2b2b2b;
			border:none;
			padding:2px 0 8px 1px;
			margin:0px 0px 0px 0px;
			}	
		.related h3 {
			background:url(../Images/title-bg1.gif) left top repeat-x;
			font:normal 13px/21px Arial, Helvetica, sans-serif;
			font-family: 'Oswald', sans-serif;
			letter-spacing:0px;
			text-transform:uppercase;
			color:#fff;
			border:none;
			padding:8px 0 8px 19px;
			margin:0px 0 0px 0;} 	
			
		h5.title {
			background:none;
			font:bold 12px/21px Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			text-transform:uppercase;
			color:#080808;
			border:none;
			padding:0px 0 0px 0px;
			margin:0px 0px 0px 0px;
			
			}	
			
		.categoryName img {
			vertical-align:middle;
			display:none;
		}
		th.title { background:none; color:#808080;}
		
		.extra-divider td {
			border:none;
			padding:13px 0;
		}
		
		/*-------------------content----*/
		.module ul {
			list-style:none;
			margin:0px 0px 0px 0px;
		}
		.module ul li {
			font:normal 12px/19px Arial, Helvetica, sans-serif;
			margin:0 0 0 0;
			padding:0px 0px 0px 0px;
			vertical-align:top;
		}
		.module li a {
			background:none;
			padding:0px 0px 0px 0px;
			margin:0px 0px 0px 0px;
		}
		.module li a:hover {
			color:#000;
			text-decoration:underline;
		}
		.module a {
			color:#939698;
			text-decoration:underline;
		}
		.module a:hover {
			text-decoration:none !important;
		}
		.count	{ /* count users */
			text-decoration:underline;
		}
		
/* ---------------------- categories --- */
.moduletable-categories { border:none; background:url(../Images/cat-divider.gif) left top no-repeat; height:42px; width:100%; position:absolute; top:120px; left:-1px; z-index:100;}
	
.rightarrowclass { display:none !important;}
.ddsmoothmenu { background:none !important; padding:0px 0 0 0px;}

.downarrowclass  { display:none; width:7px; height:4px; position:absolute; right:19px; top:19px;}
.moduletable-categories ul.level1 li a:hover .downarrowclass , .moduletable-categories ul.level1 li a.active .downarrowclass , .moduletable-categories ul.level1 li a.selected .downarrowclass { display:block;} 

.moduletable-categories ul.level1 { list-style:none; margin:0; padding:0 0 0 1px;}
.moduletable-categories ul.level1 li { background:url(../Images/cat-divider.gif) right top no-repeat;  z-index:98; font:bold 16px/25px Arial, Helvetica, sans-serif; float:left; letter-spacing:0px;  border:none; position:relative;text-transform:uppercase;}
.moduletable-categories ul.level1 li a  { text-decoration:none; margin-right:0px; padding:8px 20px 9px 18px; color:#6f422b; display:inline-block; background:none; border:none; border-left:none;}
.moduletable-categories ul.level1 li a.parent { padding-right:38px !important; margin-bottom:0px;}
.moduletable-categories ul.level1 li a:hover , .moduletable-categories ul.level1 li a.active , .moduletable-categories ul.level1 li a.selected  {background:url(../Images/cat-a.active.jpg); color:#fff; margin-right:2px; padding-right:18px;}
.moduletable-categories ul.level1 li a.parent:hover , .moduletable-categories ul.level1 li a.parent.active , .moduletable-categories ul.level1 li a.parent.selected  { margin-right:2px; padding-right:36px!important;}


.moduletable-categories ul.level2 li a.parent { padding-right:0px !important; margin-bottom:0px;}

.moduletable-categories ul.level2 { background:none; width:193px;  padding:0px; list-style-type:none; margin:0; position:absolute !important; top:42px !important; left:0px !important; visibility:hidden; }
.moduletable-categories ul.level2 li { background:none!important; border:none; border-top:none;   font-weight:normal; padding:0 0 0 0px; margin:0; position:relative; float:none!important;}
.moduletable-categories ul.level2 li a { text-decoration:none; font:normal 12px/25px Arial, Helvetica, sans-serif; padding:0px 0px 0px 10px !important; margin:0;border:1px solid #fff!important; border-top:none!important;
color:#c36318; display:block; margin:0 0 0 0px; background:#f6f6f6 !important; text-transform:none; letter-spacing:0;}

.moduletable-categories ul.level2 li a:hover, .moduletable-categories ul.level2 li a.active , .moduletable-categories ul.level2 li a.selected { text-decoration:none; color:#fff;  background:#2b2b2b !important; border:1px solid #2b2b2b!important;border-top:none!important; margin:0; }

.moduletable-categories ul.level3 {background:none; width:193px;  padding:0px; list-style-type:none; margin:0; position:absolute !important; top:0px !important; left:191px !important; }
.moduletable-categories ul.level3 li a { color:#c36318;}
.moduletable-categories ul.level3 li a:hover, .moduletable-categories ul.level3 li a.active { color:#fff!important;}

/* ######### CSS classes applied to down and right arrow images  ######### */


.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
display:none !important;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
}

	/* ----------------- content ---- */
		.module_menu ul {
			list-style:none;
			margin:0px 0px 0px 0px;
		}
		.module_menu li {
			background:none;
			font:normal 12px/17px Arial, Helvetica, sans-serif;
			margin:0 0 0 0;
			padding:2px 0 4px 10px;
			list-style:none;
			width:100%;
			vertical-align:top;
		}
		.module_menu li a {
			background:url(../Images/list-marker.gif) no-repeat 0 5px;
			color:#F00;
			margin:0;
			padding:0 0 0 10px;
			text-decoration:none;
		}
		
		/* ------------------- hover, active --- */
			.module_menu li a:hover,
			.module_menu li.active a:hover,
			.module_menu li.active li a:hover	{
				text-decoration:underline;
			}
			.module_menu li.active ul {
				margin:1px 0px -1px 10px;
			}

/*------------------------userMenu---*/
	#userMenu {
		padding:1px 22px 0 0;
		text-align:right;
	}
		#userMenu ul {
			margin:0;
		}
		#userMenu ul li {
			display:inline;
			padding:0 0 0 19px;
			margin:0 0 0 0;
			font:normal 12px/14px Arial, Helvetica, sans-serif;
		}
			#userMenu ul li a {
				text-decoration:none;
				color:#9c9c9a;
			}
			#userMenu ul li a:hover {
				text-decoration:underline;
				color:#fff;
			}


/*----------------------------------------login-form---*/

.module_LoginForm  { margin:0px 0px 20px 1px; padding:0 0 0 0px; border:1px solid #ddd9d3; overflow:hidden; text-align:left;  background:#f0ebe2; position:relative;}
.module_LoginForm  h3 { color:#2c2c2c; letter-spacing:0; background:none; font:normal 27px/27px Arial, Helvetica, sans-serif; margin:0; padding:16px 0 0 17px; text-transform:none;}
.module_LoginForm  .boxIndent { padding:15px 0px 15px 18px; *padding:15px 0px 10px 18px;  border:none; background:none;  overflow:hidden;}

	#form-login-username {
		display:block;
		width:100%;
	}
	/*-----------------content----*/
		#form-login-remember {
			padding:4px 0px 0px 0px;
		}
		
		label.remember {
			color:#8d8b87;
			font:normal 12px/18px Arial, Helvetica, sans-serif;
			text-transform:none;
			display:inline-block;
			text-decoration:none;
			cursor:pointer;
			margin-left:0px;
		}
		label.remember:hover { 	text-decoration:underline;}
		.form-login .rememberCheck {
			padding:4px 0 0px 0px;
			margin:0;
			display:inline-block;
		}
		input.checkbox { /* checkbox */
			border:none;
			display:inline-block;
			margin:0px 3px 0px 0px;
			vertical-align:middle;
			width:14px;
			height:14px;
			padding:0;
		}
		
		.username span  { display:block; padding:0px 0 5px 1px; color:#c36318; font-size:12px;  }
		.password span { display:block; padding:0px 0 5px 1px;  color:#c36318; font-size:12px;}
		#mod_login_username,
		#mod_login_password {
			border:none;
			background:url(../Images/login-input.png) left top no-repeat;
			font:normal 10px/16px Arial, Helvetica, sans-serif;
			color:#7d7d7d;
			margin:1px 9px 8px 1px;
			padding:0px 5px 0px 10px;
			width:165px;
			height:23px;
			text-transform:none;
		}
		.username,
		.password {
			font:normal 12px/13px  Arial, Helvetica, sans-serif;
			color:#e1e0e0;
			text-transform:none;
			margin:0 0 0 0px;
		}
		.form-login .button	{ /* button */
			background:url(../Images/login-button.png) left top repeat-x;
			border:none !important;
			text-transform:none;
			color:#fff;
			font:bold 12px/1.2em Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			padding:0px 0px 2px 0px;
			margin:9px 3px 7px 0px;
			text-align:center;
			width:60px;
			height:33px;
			display:inline-block;
			 position:relative;
			float:left;
		}
		.form-login .button:hover {
			background:url(../Images/login-button-active.png) left top repeat-x;
			color:#967c68;
		}
		.log {
			color:#2c2c2c;
			font-family: 'Oswald', arial, serif;
			font-size:15px;
			padding:6px 0 20px 0px;
		}
		
		.logout {
			background:url(../Images/button2.png) left top no-repeat;
			border:none!important;
			text-transform:none;
			color:#fff;
			font:bold 12px/1.2em Arial, Helvetica, sans-serif;
			padding:0px 0px 2px 0px;
			*padding:1px 0px 0px 0px;
			margin:8px 8px 0px 0px;
			text-align:center;
			width:134px;
			height:33px;
			display:block;
		    position:relative;
			letter-spacing:0px;
		}
		.logout:hover {
				background:url(../Images/button2-active.png) left top no-repeat;
				color:#967c68;
		}
		
		#inputs {
			padding:5px 0px 0px 0px;
			overflow:hidden;
			width:100%;
			display:block;
			}
		#inputs a {
			color:#fa7306;
			text-decoration:none;
			font:normal 11px/16px Arial, Helvetica, sans-serif;
			display:inline-block;
			margin:1px 0 0 0;
		}
		#inputs .reg { 
		color:#fd4403;
			font:bold 12px/16px Arial, Helvetica, sans-serif;
			text-decoration:none;
			text-transform:none;
			display:block;
			padding:1px 0 0px 0px;
			margin-left:0px;
			}
			#inputs .reg:hover { 
			text-decoration:underline !important;
			}
			
 		#inputs a:hover {
			text-decoration:none !important;
		}
		#form-login-remember span { 
			padding:0 0 0px 0px;
			font:normal 11px/19px Arial, Helvetica, sans-serif;
			color:#7d7d7d;
			text-decoration:none;
			text-transform:none;
			display:block;
			padding:3px 0 0px 0px;
			margin-bottom:-4px;}
		
		#form-login-remember {
			font:normal 15px/19px Arial, Helvetica, sans-serif;
			color:#787878;
			padding:15px 0 0 0px;
			margin:0px 0 0 0px;
			display:block;
			float:left;
		}
		#form-login-remember a {
			color:#8d8b87;
			font:normal 12px/19px Arial, Helvetica, sans-serif;
			text-decoration:none;
			text-transform:none;
			display:inline-block;
			padding:0px 0 0px 0px;
		}
		#form-login-remember a:hover {
			text-decoration:underline;
		}
		 a.reg {
			 background:url(../Images/button2.png) left top no-repeat;
			color:#fff;
			font:bold 12px/30px Arial, Helvetica, sans-serif;
			display:block;
			padding:0px 0px 0px 1px;
			text-align:center;
			margin:0px 0 0 0px;
			text-decoration:none;
			text-transform:none;
			letter-spacing:0px;
			width:134px;
			height:33px;
			*margin-top:-6px;
			
		}
		a.reg:hover {
			background:url(../Images/button2-active.png) left top no-repeat;
			text-decoration:none;
			color:#967c68;
		}
.part1 .pad-top { padding-top:7px; padding-left:0px; }
/* ------------------------------------- topmenu --- */
	.moduletable-nav ul.menu {
		list-style:none;
		background:none;
		float:none;
		overflow:hidden;
		padding:3px 0px 0 0px;
		margin:0 0px 0px 0px;
	}
		.moduletable-nav ul.menu li {
			font:normal 14px/25px Tahoma, Geneva, sans-serif;
			background:none;
			letter-spacing:0px;
			text-transform:none;
			float:left;
			margin:0 0px 0 0px;
			padding:0px 0px 0px 29px;
			text-shadow:1px 1px 2px #535353;
		}
		
		.moduletable-nav ul.menu li:first-child {margin:0; padding:0;}
			.moduletable-nav ul.menu li a {
				color:#4c4c4c;
				display:inline-block;
				text-decoration:none;
				text-align:center;
				padding:0;
				cursor:pointer;
			}
			/* ------------------- hover, active --- */
			.moduletable-nav ul.menu li a:hover ,.moduletable-nav ul.menu li.active a 
			 {
			 background:none;
			 text-decoration:none;
			 color:#fff;
			}
/* --------------------------------------------------------- structure --- */
	#body {
		width:100%;
		height:100%;
		background:#fff;
	}
		
	.main {
		width:940px;
		position:relative;
	}
	
	.main2 {
		width:1000px;
		position:relative;
		padding:0;
		margin:0 auto;
	}
/*.box-main { margin:0 auto; width:990px; background:#fff;}
		.box-main .tail-bot { background:url(../Images/bottom-tail.gif) left bottom repeat-x;}
			.box-main .tail-top { background:url(../Images/top-tail.gif) left top repeat-x;}
				.box-main .tail-right { background:url(../Images/right-tail.gif) right top repeat-y;}
					.box-main .tail-left { background:url(../Images/left-tail.gif) left top repeat-y;}
						.box-main .corner-top-right { background:url(../Images/corner-top-right.gif) right top no-repeat;}
							.box-main .corner-top-left { background:url(../Images/corner-top-left.gif) left top no-repeat;}
								.box-main .corner-bot-right { background: url(../Images/corner-bottom-right.gif) right bottom no-repeat;}
									.box-main .corner-bot-left { background: url(../Images/corner-bottom-left.gif) left bottom no-repeat; width:100%;}
*/
/* --------------------------------------------------------- header --- */
	#header {
		 width:100%;
		 background: url(../Images/header-bg-top.jpg) left top repeat-x #f3cb7d;
		 height:162px;
		 position:relative;
		 z-index:15;
		 margin:0 0 0 0px;
		 padding:0px 0 0 0;
	}
	.header-bot { height:162px; background: url(../Images/header-bg-bot.jpg) center bottom no-repeat;  width:100%;}
			#topmenu {
				border:none;
				height:51px;
				width:auto;
				margin:0 0 0px 0;
				padding:0px 0 0 0px;
				position:absolute;
				left:0px;
				top:0px;
			}
			
			#search {
				position:absolute;
				top:59px;
				right:97px;
				background:none;
				width:368px;
				height:33px;
				padding:0px 0 0 0;
				margin:0;
				overflow:hidden;
				z-index:1;
			}
			.currency {
			background:none;	
			width:280px;
			height:23px;
			margin:0;
			padding:0px;
			position:absolute;
			right:1px;
			top:5px;
			z-index:100;
			
		}
		#logo {
			position:absolute;
			left:0px;
			top:49px;
			font-size:0px;
			width:143px;
			height:51px;
			padding:0;
			margin:0;
			z-index:5;
			
		}
		
		.cart {
			position:absolute;
			border:none;
			top:57px;
			right:0px;
			width:65px;
			height:41px;
			background:url(../Images/cart-img.png) left top no-repeat;
			padding:0 0 0 0px;
			margin:0;
			overflow:hidden;
			text-align:right;
		}
		.cart hr { display:none;}
		
		.module_banners { z-index:50; margin-bottom:40px; }
		
/* ------------------------------------- content --- */
.first .content-indent { padding:0;}
	#content {
		padding:41px 0px 21px 0;
		margin:0px 0 0 0 ;
		background:url(../Images/content-bg.gif) left top repeat-x;
		width:100%;
		position:relative;
		z-index:5;
	}
		#left {
			float:left;
			width:231px;
			margin:0 11px 0 0px;
			padding:0 0 0px 0;
		}
		.container {
			overflow:hidden;
			position:relative;
			
		}
		#right {
			float:right;
			width:220px;
			margin:0 0px 0 40px;
		}
		.all #right {
			padding-top:0px;
		}
/* ------------------------------------- footer --- */
	#footer { 
	background:none;
	border-top:1px solid #f0ebe2;
	height:150px;
	margin:0px;
	position:relative;
	}
	
	#footer .space {
		padding:36px 0px 0px 0px;
		font:normal 12px/16px Arial, Helvetica, sans-serif;
		color:#6d6d6d;
		background:none;
		min-height:26px;
		text-transform:none;
		width:100%;
		overflow:hidden;
		position:relative;
	}
	#footer a {
		color:#6d6d6d;
		text-decoration:underline;
	}
	#footer a:hover { text-decoration:none;}
	.footerText div { padding-top:1px;}
	#footer .footerText {
		color:#6d6d6d;
		padding:0 0 0 0;
	}
	#footer .footerText div { float:left;}
	#footer .footerText div.social { float:none; position:absolute; right:0; top:56px; overflow:hidden;}
	#footer .footerText div.social a { text-decoration:none; float:left; display:block; overflow:hidden; position:relative; height:32px; width:31px; margin-left:8px;}
	#footer .footerText div.social a span { display:block; overflow:hidden;  height:32px; overflow:hidden; width:31px; float:left; position:relative; cursor:pointer;}
	#footer .footerText div.social a img { background:#fff; margin-top:-32px;}
	
	#footer ul {
		border:none;
		background:none;
		padding:3px 0 5px 0px;
		margin:0 0 0px 0;
		list-style:none;
		 position:relative;
		 overflow:hidden;
		 width:100%;
		 float:left;
		
		
	}
		#footer ul li {
			background:none;
			font:bold 12px/29px Arial, Helvetica, sans-serif;
			background:none;
			display:block;
			padding:0px 21px 0 0px;
			text-transform:none;
			letter-spacing:none;
			margin:0 0 0 0;
			float:left;
		}
			#footer ul li a {
				background:none;
				display:inline-block;
				color:#c36318;
				padding:0;
				text-decoration:none;
			}
			#footer ul li a:hover,
			#footer ul li.active a {
				color:#6d6d6d;
				
			}
/* ------------------------------------- Tooltips --- */
	.tool-tip {
		background:#ffc;
		border:1px solid #b4b58A;
		color:#000;
		max-width:200px;
		text-align:left;
		z-index:99!important;
	}
	.tool-title {
		background:#dda;
		border-bottom:1px solid #b4b58A;
		padding:5px 10px;
		font-weight:bold;
	}
	.tool-text {
		padding:5px 10px;
	}

/* ------------------------------------- VM --- */
	.wrapper {
		overflow:hidden;
		width:100%;
		
	}
	.wrapper2 {
		width:100%;
	}
	.clear {
		clear:both;
	}
	.float-left {
		float:left;
	}
	.float-right {
		float:right;
	}
	.contact_email #contact_email_copy {
		margin:0;
		float:left;
		width:15px;
	}

/* ------------------------------------- boxes --- */
	.module .banners { background:none;}
	.module .box,
	.module_menu .box,
	.module_text .box {background:#fff;}
	
	.module .box .tail-bottom,
	.module_menu .box .tail-bottom,
	.module_text .box .tail-bottom {background:url(../Images/box-corner-tail-bottom.gif) bottom repeat-x;}
	
	.module .box .tail-top,
	.module_menu .box .tail-top,
	.module_text .box .tail-top {background:url(../Images/box-corner-tail-top.gif) top repeat-x;}
	
	.module .box .tail-right,
	.module_menu .box .tail-right,
	.module_text .box .tail-right {background:url(../Images/box-corner-tail-right.gif) right repeat-y;}
	
	.module .box .tail-left,
	.module_menu .box .tail-left,
	.module_text .box .tail-left {background:url(../Images/box-corner-tail-left.gif) left repeat-y;}
	
	.module .box .corner-right-bottom,
	.module_menu .box .corner-right-bottom,
	.module_text .box .corner-right-bottom {background:url(../Images/box-corner-right-bottom.gif) right bottom no-repeat;}
	
	.module .box .corner-left-bottom,
	.module_menu .box .corner-left-bottom,
	.module_text .box .corner-left-bottom {background:url(../Images/box-corner-left-bottom.gif) left bottom no-repeat;}
	
	.module .box .corner-right-top,
	.module_menu .box .corner-right-top,
	.module_text .box .corner-right-top {background:url(../Images/box-corner-right-top.gif) right top no-repeat;}
	
	.module .box .corner-left-top,
	.module_menu .box .corner-left-top,
	.module_text .box .corner-left-top {background:url(../Images/box-corner-left-top.gif) left top no-repeat; width:100%;}


/* ------------------------------------- END boxes --- */
.paramlist_key {width:35% !important; padding-right:5px !important;}
.josForm #email {width: 147px; padding:5px 0 5px 5px;}
.validate {margin-bottom:1px;}
#josForm  { padding-bottom:20px;}
.content-indent {padding:0px 0px 20px 0px; margin:0px; background:none; border:none; width:100%;  }
.cbButtons { margin-left:25%;}

.productTop { width:30%;} 

.list li { color:#7e7c7c;}
.list h4 { padding-bottom:5px;font-family: 'Oswald', sans-serif; font-weight:normal; }
.list h4 a { color:#716d6d; text-transform:uppercase; font-size:16px; line-height:1.2em;}
.results h3 { text-transform:uppercase; font-family: 'Oswald', sans-serif; color:#626161; border:none; padding:10px 0 10px 10px; margin-bottom:5px; font-weight:normal; }


.relative {position:relative;}
.height {  font-size:0px; line-height:0px;}
#comment { padding-right:17px; width:auto; height:auto; margin-top:5px;}
.Form-indent { margin:10px 0 0 0;}


#searchForm .button { margin-top:0px;}


.article-text-indent { padding-right:0px;}
.article-text-indent h2  { color:#333; font:normal 12px/21px Arial, Helvetica, sans-serif;font-family: 'Oswald', sans-serif; text-transform:none; margin:0; padding:14px 0 0 0;}
.article-text-indent p { padding-top:19px; color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; padding-right:10px; }

#component-contact { padding-top:15px; position:relative;}
.contact-width { 
		width:228px !important;
		background:#fff;
		border:1px solid #e5e5e5;
		box-shadow: 0 0 25px #fbfbfb inset;
		 -moz-box-shadow: 0 0 25px #fbfbfb inset;
		 -webkit-box-shadow: 0 0 25px #fbfbfb inset;  border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		position:relative;
		border-collapse:separate !important; 
		font-size:12px; color:#7f7f7f;}


#map_canvas {
	width:432px !important;
	height:319px !important;
	*height:322px !important;
	position:absolute;
	right:-2px;
	top:17px;
	overflow:hidden;
	margin-left:0px;
}

.department dl { color:#7f7f7f; font:normal 12px/21px Arial, Helvetica, sans-serif; display:inline-block;}
.department dl a{ color:#13c6d4;}
.department h3 {  color:#3333; font:bold 14px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; margin:0; padding:0px 0 18px 0;}
.department .col-1 { float:left; width:190px;}
.department .col-pad { padding-right:49px;}

#emailForm { margin:0px 0px 10px 0; padding-top:4px;}
#emailForm label strong { color:#7f7f7f; font:bold 12px/21px Arial, Helvetica, sans-serif; padding-left:1px; display:inline-block; padding-bottom:5px;}
.contact_email input {
		margin-bottom:5px;
	}
.inputbox { padding:1px 2px 1px 2px; height:21px; border:1px solid #e5e5e5; width:224px; line-height:20px!important; outline:none;}
#agreed_field.inputbox { padding:0!important; width:13px!important; height:13px!important; border:none!important;} 
.sectiontableentry1 .inputbox { width:82px; height:20px; color:#000;}
#emailForm #contact_text {
	color:#949494;
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	height:130px; 
	overflow:auto;
	margin:0px 0px 10px 0px;
	padding:2px 4px;
	max-width:430px;
	width:430px;
	*height:135px;
}
#emailForm .contact_area { padding-bottom:19px;}
#emailForm .pad-top { padding-top:30px;}
#emailForm .col-3 { float:left; width:440px;}
#emailForm .col-2 { float:left; width:240px;}

.line-height { display:block; line-height:14px; *line-height:1.7em; font-size:12px; float:left; padding-left:8px;}
.module_multi h3 em , .module_LoginForm h3 em ,  .contentheading em , .categoryName em , .title em , .module em { color:#c36318; font-style:normal;}
