<! DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Language" content="en" >
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<meta name="description" content="Online library for HCMUT" >
		<meta name="keywords" content="Books, HCMUT" >
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" >
	</head>
	<body>	
		<div class="body">
		<div class="header">		
			<div class="wrapper">
				<div class="row_1">
					<ul>
						<li>About Us</li>
						<li>FAQS</li>
						<li>Contacts</li>
					</ul>
				</div><!-- END row_1 -->
				<div class="row_2">
					<div class="logo"></div><!-- END logo -->
					<div class="search_area">
						<div class="search">
							<form action="" method="">
								<input type="text" class="inputbox" maxlength="80" value="Enter search keywords here" />
								<input type="submit" class="button" value="" />
							</form>
						</div><!-- END search -->
					</div><!-- END search -->
				</div><!-- END row_2 -->
				<div class="row_3">
				</div><!-- END row_3 -->
			</div><!-- END wrapper -->	
		</div><!-- END header -->
		</div>
	</body>
</html>
