<! DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
	{% block head %}
		<title>{{ title }}</title>
		<meta http-equiv="Content-Language" content="en" >
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<meta name="description" content="Online library for HCMUT" >
		<meta name="keywords" content="Books, HCMUT" >
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" >
		<script type="text/javascript" src="/static/scripts/search.js">	
		</script>
		<script type="text/javascript" src="/static/scripts/dropdown.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	{% endblock head%}
	</head>
	<body>	
			<div class="header">
				<div class="row_1">
					<div id="wrapper">
						<ul>
							<li>About Us</li>
							<li>FAQS</li>
							<li>Contacts</li>
						</ul>
					</div><!-- END wrapper -->
				</div><!-- END row_1 -->
				<div class="row_2">
					<div id="wrapper">
						<div class="logo"></div><!-- END logo -->
						<div class="search_area">
							<div class="search">
								<form action="/search" method="GET">
									<input type="text" name="searchTxt" class="inputbox" maxlength="80" value="Enter search keywords here" />
									<input type="submit" class="button" value="" onclick="preCheckSearch(this.form)"/>
								</form>
							</div><!-- END search -->
						</div><!-- END search -->
					</div><!-- END wrapper -->
				</div><!-- END row_2 -->
					<div class="row_3">
						<div id="wrapper">
							<ul>
								<li><dl class="dropdown">
  									<dt id="one-ddheader" onmouseover="ddMenu('one',1)" onmouseout="ddMenu('one',-1)">HOME</dt>
  									<dd id="one-ddcontent" onmouseover="cancelHide('one')" onmouseout="ddMenu('one',-1)">
    								<ul>
      								<li class="dropdown"><a href="#" class="underline">Navigation Item 1</a></li>
      								<li class="dropdown"><a href="#" class="underline">Navigation Item 2</a></li>
      								<li class="dropdown"><a href="#" class="underline">Navigation Item 3</a></li>
      								<li class="dropdown"><a href="#" class="underline">Navigation Item 4</a></li>
      								<li class="dropdown"><a href="#">Navigation Item 5</a></li>

    								</ul>
  									</dd>
								</dl></li>
								<li><a href="">CATEGORIES</a></li>
								<li><a href="">SUBJECTS</a></li>
								<li><a href="">UPLOAD</a></li>
							</ul>
						</div><!-- END wrapper -->
					</div><!-- END row_3 -->
				</div><!-- END wrapper -->	
			</div><!-- END header -->
			
			{% block content %}
			
			
			{% endblock %}
			
			<div class="footer">
				<div id="wrapper">
					<div class="content">
						<div class="left">
							<ul>
								<li>About Us</li>
								<li>FAQS</li>
								<li>Contacts</li>
							</ul>
							<p>Copyright 2011 Books. All Rights Reserved.</p>
						</div><!-- END left -->
						<div class="right">
							<ul>
								<li><img src="/static/images/social1.png" alt="facebook"/></li>
								<li><img src="/static/images/social2.png" alt="facebook"/></li>
								<li><img src="/static/images/social3.png" alt="facebook"/></li>
							</ul>
						</div><!-- END right -->
					</div><!-- END content -->
				</div><!-- END wrapper -->
			</div><!-- END footer -->
		</div>
</html>
