<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" >
<head>
	<title>Books</title>
	<link rel="stylesheet" href="Stylesheets/ddsmoothmenu.css" type="text/css" />
	<script type="text/javascript" src="Scripts/mootools.js"></script>
	<script type="text/javascript" src="Scripts/caption.js"></script>
	<link rel="stylesheet" href="Stylesheets/constant.css" type="text/css" />
	<link rel="stylesheet" href="Stylesheets/template.css" type="text/css" />
	<link rel="stylesheet" href="Stylesheets/virtuemart.css" type="text/css" />
	<link rel="stylesheet" href="Stylesheets/products.css" type="text/css" />
	
	<script type="text/javascript" src="Scripts/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="Scripts/jqtransform.js"></script>
	
	<!-- Hieu ung pop-up vote xuong khi chon sach tren ke -->
	<script type="text/javascript">
	var $j=jQuery.noConflict();
		 $j(document).ready(function() {			
		$j(function(){
			 $j('#select-form').jqTransform({imgPath:'Images/'});
		});
	});
	</script>
	<script type="text/javascript" src="Scripts/imagepreloader.js"></script>
	<script type="text/javascript">
	$j(document).ready(function(){
		$j(".module-specials  .product_image_container").hover(function() {
				$j(this).find(".bg").stop().animate({ top: 0}, 200);
			},function(){
				$j(this).find(".bg").stop().animate({ top: -236}, 300);
			});
		//rollover hover
			$j("#footer .footerText div.social a").hover(function() { //On hover...
			var thumbOver = $j(this).find("img").attr("src"); //Get image url and assign it to 'thumbOver'
			$j(this).css({'background' : 'url(' + thumbOver + ') no-repeat center top'});
			//Animate the image to 0 opacity (fade it out)
			$j(this).find("span").stop().fadeTo('normal', 0 , function() {
			$j(this).hide() //Hide the image after fade
			});
			} , function() { //on hover out...
			//Fade the image to full opacity
			$j(this).find("span").stop().fadeTo('normal', 1).show();
			});
			$j('.module_multi h3 , .module_LoginForm h3 , .categoryName ,.contentheading , h3.title , .module h3').each(function() {
            var hd = jQuery(this).html();
            var index = hd.indexOf(' ');
            if(index == -1) {
                index = hd.length;
            }
            jQuery(this).html('<em>' + hd.substring(0, index) + '</em>' + hd.substring(index, hd.length));
        });
	    //accordion begin
	    $j("#accordion dt").eq(0).addClass("active");
	    $j("#accordion dd").eq(0).show();
	 
	    $j("#accordion dt").click(function(){
	        $j(this).next("#accordion dd").slideToggle("slow")
	        .siblings("#accordion dd:visible").slideUp("slow");
	        $j(this).toggleClass("active");
	        $j(this).siblings("#accordion dt").removeClass("active");
	        return false;
	    });
	});
		preloadImages([
			'images/button2-active.png', 
			'login-button-active.png',
			'button1-active.png',
			'button1.png',
			'button-active.png',
			'cart-button-active.png',
			'cat-a.active.jpg',
			'arrowUp-active.png',
			'arrowDown-active.png'
			]);
	</script>
	
	<style>
	   .featuredBorder ,  .related .extra-releted , .main ,  .logout ,  .contact-width ,  .module_LoginForm {
		 	behavior:url(/virtuemart_36021/templates/theme185/PIE.php)
		}
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body id="body" class="first">
		<!-- header -->	
		<div id="header">
		<div class="header-bot">
			<div class="main">
				<div id="logo">
					<a href=""><img alt="" src="Images/logo.png" /></a>
				</div>
				
				<div id="search">
					<div class="moduletable">
						<form action="" method="">
							<div class="search">
								<input name="searchword" id="mod_search_searchword" maxlength="80" alt="" class="inputbox" type="text" size="80" 
									value="Enter search keywords here" />
								<input type="submit" value="" class="button" onclick="this.form.searchword.focus();"/>	
							</div>
						</form>	
					</div>
	
				</div>
				
				<div id="topmenu">
					<div class="moduletable-nav">
						<ul class="menu">
							<li class="item18"><a href=""><span>About Us</span></a></li>
							<li class="item53"><a href=""><span>FAQS</span></a></li>
							<li class="item54"><a href=""><span>Contacts</span></a></li>
						</ul>
					</div>
				</div>
						
				<div class="moduletable-categories">
					<script type="text/javascript" src="Scripts/ddsmoothmenu.js"></script>
					<div class='ddsmoothmenu' id='smoothmenu1'>
						<div id="relative_div" style="position:relative;z-index:0"></div>
							<ul class="level1">
								<li class="level1 item1 parent"><a class="level1 item1  parent" href="home.html" target="_self" title="Main" ><span>Home</span></a></li>
								<li class="level1 item2">
									<a class="level1 item2 " href="" target="_self" title="Categories" ><span>Categories</span></a>
									<ul class="level2">
										<li class="level2 item1"><a class="level2 item1 " href="" target="_self" title="Arts &amp; Photography" ><span>Arts &amp; Photography</span></a></li>
										<li class="level2 item2"><a class="level2 item2 " href="" target="_self" title="Audiobooks" ><span>Audiobooks</span></a></li>
										<li class="level2 item3"><a class="level2 item3 " href="" target="_self" title="Audible Audiobooks" ><span>Audible Audiobooks</span></a></li>
										<li class="level2 item4"><a class="level2 item4 " href="" target="_self" title="Biographies &amp; Memoirs" ><span>Biographies &amp; Memoirs</span></a></li>
										<li class="level2 item5"><a class="level2 item5 " href="" target="_self" title="Business &amp; Investing" ><span>Business &amp; Investing</span></a></li>
										<li class="level2 item6"><a class="level2 item6 " href="" target="_self" title="Calendars" ><span>Calendars</span></a></li>
										<li class="level2 item7"><a class="level2 item7 " href="temid=29" target="_self" title="Children's Books" ><span>Children's Books</span></a></li>
										<li class="level2 item8 parent"><a class="level2 item8  parent" href="" target="_self" title="Christian Books" ><span>Christian Books</span></a>
											<ul class="level3">
												<li class="level3 item1"><a class="level3 item1 " href="" target="_self" title="Ipsum " ><span>Ipsum </span></a></li>
												<li class="level3 item2"><a class="level3 item2 " href="" target="_self" title="Suspendisse potenti " ><span>Suspendisse potenti </span></a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="level1 item3">
									<a class="level1 item3 " href="" target="_self" title="Subjects" ><span>Subjects</span></a>
									<ul class="level2">
										<li class="level2 item1"><a class="level2 item1 " href="" target="_self" title="Semester 1" ><span>Semester 1</span></a></li>
										<li class="level2 item2"><a class="level2 item2 " href="" target="_self" title="Semester 2" ><span>Semester 2</span></a></li>
										<li class="level2 item3"><a class="level2 item3 " href="" target="_self" title="Semester 3" ><span>Semester 3</span></a></li>
										<li class="level2 item4"><a class="level2 item4 " href="" target="_self" title="Semester 4" ><span>Semester 4</span></a></li>
										<li class="level2 item5"><a class="level2 item5 " href="" target="_self" title="Semester 5" ><span>Semester 5</span></a></li>
										<li class="level2 item6"><a class="level2 item6 " href="" target="_self" title="Semester 6" ><span>Semester 6</span></a></li>
										<li class="level2 item7"><a class="level2 item7 " href="" target="_self" title="Semester 7" ><span>Semester 7</span></a></li>
										<li class="level2 item8"><a class="level2 item8 " href="" target="_self" title="Semester 8" ><span>Semester 8</span></a></li>
									</ul>
								</li>
								<li class="level1 item4"><a class="level1 item4 " href="" target="_self" title="Upload" ><span>Upload</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</div>		
		<!-- END header -->	
		<div id="content">
			<div class="main"><div class="wrapper2">
				<div id="right">
						<div class="wrapper2">
							<div class="extra-indent">
								<div class="module_LoginForm">
									<h3><span><span>Login Form</span></span></h3>
									<div class="boxIndent">
										<form action="" method="" name="login" class="form-login">
											<div class="part1">
												<div class="wrapper">
													<div class="username">
														<span>User Name</span>
														<input name="username" id="mod_login_username" type="text" 
														class="inputbox" value="" onblur="if(this.value=='') this.value=''" 
														onfocus="if(this.value =='' ) this.value=''" alt="" />
													</div>
													<div class="password">
														<span>Password</span>
														<input type="password" id="mod_login_password" name="passwd" 
														class="inputbox" value="" onblur="if(this.value=='') this.value=''" alt="" 
														onfocus="if(this.value =='' ) this.value=''" />
													</div>
												</div>
												<div id="inputs">
													<div class="rememberCheck">
														<input type="checkbox" name="remember" id="mod_login_remember" 
														class="checkbox" value="yes" alt="Remember Me" />
															<label for="mod_login_remember" class="remember">Remember Me</label>
													</div>
												</div>
												<div class="wrapper pad-top">
													<input type="submit" name="Submit" class="button" value="Log in" />
													<div id="form-login-remember">
														<a href="">Forgot your password?</a>
													</div>
													<div class="clear"></div>
													<a class="reg" href="">Create an account</a>
												</div>	
											</div>	
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!-- END right -->	
				<div class="container">										
					<div class="content-indent"><div id="vmMainPage">
						<div class="Product-border"> 
							<div class="wrapper">
								<div class="float-left">
									<div class="browseProductImageContainer">
										<div class="browseProductImage">
											<a href="" title="Mariana collection Agent Provocateur" rel="lightbox[product3]">
												<img src="Images/Product03_resized.png" height="331" width="220" alt="Mariana collection Agent Provocateur" border="0" />
												<br/>View Full-Size Image
											</a>
										</div>
									</div>
									<div class="reviews" style="padding-top:24px; padding-bottom:15px;">
										<!-- List of product reviews -->
										<h5 class="title"><span>Customer Reviews:</span></h5>
											There are yet no reviews for this product. <br />Please log in to write a review.
									</div>
								</div>	
								<div class="floatElement">
									<h2 class="browseProductTitle"><span href="#" title="Mariana collection Agent Provocateur" class="product_name">Mariana collection Agent Provocateur</span></h2>
									<div class="product-divider">
										<div class="vmCartContainer1">
											<div class="vmCartContainer">
												<form action="" method="">
													<input type="submit" class="addtocart_button" value="Downdload" />
												</form>
											</div>
										</div>
									</div>
									<div class="clear"></div>			
									<div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla neque et sapien varius vel consequat metus vehicula. Suspendisse potenti. Phasellus egestas, dolor vitae scelerisque feugiat, quam nisi semper orci, vitae sagittis dui risus at tellus. Suspendisse neque augue, viverra at ultricies non, rutrum at justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam dapibus consectetur enim sit amet interdum. Proin aliquet porttitor imperdiet. Aliquam ultrices pulvinar enim, eu lobortis</div>	
									<div class="ask_seller nobutton"><a class="button" href="">Ask a question about this product</a></div>
								</div>
							</div>
							<br />							
							<div></div>
							<div class="wrapper" style="padding-top:20px;"></div>
						</div>
						<div id="statusBox" style="text-align:center;display:none;visibility:hidden;"></div>
					</div></div>
				</div>
			</div></div>
		</div>
		<div class="clear"></div>
		
		<div class="main">
			<div id="footer"><div class="space"><div class="wrapper"><div class="footerText">
				<ul class="menu">
					<li class="item18"><a href=""><span>About Us</span></a></li>
					<li class="item53"><a href=""><span>FAQS</span></a></li>
					<li class="item54"><a href=""><span>Contacts</span></a></li>
				</ul>
				<div>Copyright &#169; 2011 Books. All Rights Reserved.</div>
				<div class="social">
					<a href="http://www.facebook.com/" target="_blank"><span><img src="Images/social1.png" /></span></a>
					<a href="http://twitter.com/" target="_blank"><span><img src="Images/social2.png" /></span></a>
					<a href="http://picasa.google.com" target="_blank"><span><img src="Images/social3.png" /></span></a>
				</div><!--{%FOOTER_LINK} -->
			</div></div></div></div>
		</div>
		<!-- END main -->
</body>
</html>
