<html>	
  <head>
    <title>Books API Example</title>
	<script src="http://code.jquery.com/jquery-latest.pack.js"></script>
		<script>
		var container=document.getElementById("container")
  function doAjax(url){
    if(url.match('^http')){
      $.getJSON("http://query.yahooapis.com/v1/public/yql?"+
                "q=select%20*%20from%20html%20where%20url%3D%22"+
                encodeURIComponent(url)+
                "%22&format=xml'&callback=?",
        function(data){
          if(data.results[0]){
            var data = filterData(data.results[0]);
            container.html(data);
          } else {
            var errormsg = '<p>Error: could not load the page.</p>';
            container.html(errormsg);
          }
        }
      );
    } else {
      $('#target').load(url);
    }
  }
  function filterData(data){
    data = data.replace(/<?\/body[^>]*>/g,'');
    data = data.replace(/[\r|\n]+/g,'');
    data = data.replace(/<--[\S\s]*?-->/g,'');
    data = data.replace(/<noscript[^>]*>[\S\s]*?<\/noscript>/g,'');
    data = data.replace(/<script[^>]*>[\S\s]*?<\/script>/g,'');
    data = data.replace(/<script.*\/>/,'');
    return data;
  }
</script>
  </head>
  <body>
    <div id="content"></div>
	<script type="text/javascript">
	var JSONObject;
	function getCheckedId() {
		for (var i = 0; i < JSONObject.items.length; i++) {
        if (document.getElementById(i).checked == true) return i;
		}
	}
	function GetInfo(input)
	{
		var fileref=document.createElement('script');
		fileref.setAttribute("type","text/javascript");
		fileref.setAttribute("src", "https://www.googleapis.com/books/v1/volumes?q=+"+input+"&callback=handleResponse");
		document.getElementsByTagName("head")[0].appendChild(fileref)
	}
	function parseInfo() {
		var formObject = document.forms["result"];
		var num = getCheckedId();
		var input = JSONObject.items[num];
		var title = input.volumeInfo.title;
		formObject.elements["id_name"].value = title;
		var authors = input.volumeInfo.authors;
		formObject.elements["id_authors"].value = authors;
		var published_date = input.volumeInfo.publishedDate;
		formObject.elements["id_published_date"].value = published_date;
		doAjax(input.volumeInfo.infoLink)
		formObject.elements["id_description"].value = ;
		var image_link = input.volumeInfo.imageLinks.thumbnail; 
		formObject.elements["id_image_link"].value = image_link;
	}
	function handleResponse(response) {
	JSONObject = response;
	document.getElementById("list").innerHTML="";
      for (var i = 0; i < response.items.length; i++) {
        var item = response.items[i];
        document.getElementById("list").innerHTML += "<br>" + "<input type=\"radio\" name=\"books\" onclick=\"parseInfo()\" id=\""+i+"\"><img src=\""+item.volumeInfo.imageLinks.smallThumbnail+"\">"+item.volumeInfo.title+"</input>";
      }
	}
	</script>
	<h3>Start typing a name in the input field below:</h3>
	Book name: <input type="text" name="bookName" id="bookName"/>
	<input type="button" value="Search" onclick="GetInfo(document.getElementById('bookName').value)"/>
	<p>Suggestions: <span id="list"></span></p>
	<form id="result" action="/upload" method="post"> 
	<table>
		{{form.as_table}}
	</table>
	<input type="submit" value="Upload" />
	</form>
	<a href="/create">Create Book Information yourself</a>
	<div id="container"></div>
  </body>
</html>