/*----------- common ----------*/
body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#wrapper{
	margin: 0px auto 0px auto;
	width: 960px;
	height: 100%;
}

/*----------- header ----------*/
.header {
	float: top;
	padding: 0px;
	height: 160px;
	width: 100%;
	background: url('/static/images/header-bg-top.jpg') repeat-x;
}

	/*--------- row_1 ----------*/
	.header .row_1 {
		float: top;
		padding: 0px;
		height: 30px;
		width: 100%;
	}
	
		.header  .row_1 ul {
			padding: 0px;
			height: 100%;
			width: 100%;
		}
	
		.header  .row_1 li {
			float: left;
			padding: 5px 20px 2px 0px;
			color: #606060;
			list-style-type: none;
		}

	/*--------- row_2 ---------*/
	.header  .row_2 {
		float: top;
		height: 90px;
		width: 100%;
	}
	
		.header  .row_2 .logo {
			float:left;
			width: 300px;
			height: 100%;
			background: url('/static/images/logo_library.png') left no-repeat;
		}
	
		.header  .row_2 .search_area {
			float: left;
			width: 660px;
			height: 100%
		}
		
			.header  .row_2 .search_area .search {
				float: right;
				margin: 35px 100px 0px 0px;
				height: 33px;
				width: 368px;
			}
			
			.header  .row_2 .search_area .search .inputbox {
				float: left;
				height: 31px;
				width: 316px;
				border: none;
				color: #A8A8A8;
				padding: 8px 20px 8px 10px;
				background: url('/static/images/search-input.png') left top no-repeat;
			}
			
			.header  .row_2 .search_area .search .button {
				float: none;
				width: 33px;
				height: 31px;
				border: none;
				background: url('/static/images/search-button.png') left top no-repeat;
			}
			
			.header  .row_2 .search_area .search .button:hover {
				margin-top: -1px;
			}
			
	/*----------- row_3 ------------*/
/* ---------------------- categories --- */
.header .row_3 {
	float: top;
	height: 40px;
	width: 100%;
	background: url('/static/images/header-bg-bot.jpg') bottom repeat-x;
	}
.moduletable-categories { border:none; background:url('/static/images/cat-divider.gif') left top no-repeat; height:42px; width:100%; position:absolute; top:120px; left:-1px; z-index:100;}
	
.rightarrowclass { display:none !important;}
.ddsmoothmenu { background:none !important; padding:0px 0 0 0px;}

.downarrowclass  { display:none; width:7px; height:4px; position:absolute; right:19px; top:19px;}
.moduletable-categories ul.level1 li a:hover .downarrowclass , .moduletable-categories ul.level1 li a.active .downarrowclass , .moduletable-categories ul.level1 li a.selected .downarrowclass { display:block;} 

.moduletable-categories ul.level1 { list-style:none; margin:0; padding:0 0 0 1px;}
.moduletable-categories ul.level1 li { background:url('static/images/cat-divider.gif') right top no-repeat;  z-index:98; font:bold 16px/25px Arial, Helvetica, sans-serif; float:left; letter-spacing:0px;  border:none; position:relative;text-transform:uppercase;}
.moduletable-categories ul.level1 li a  { text-decoration:none; margin-right:0px; padding:8px 20px 9px 18px; color:#6f422b; display:inline-block; background:none; border:none; border-left:none;}
.moduletable-categories ul.level1 li a.parent { padding-right:38px !important; margin-bottom:0px;}
.moduletable-categories ul.level1 li a:hover , .moduletable-categories ul.level1 li a.active , .moduletable-categories ul.level1 li a.selected  {background:url('static/images/cat-a.active.jpg'); color:#fff; margin-right:2px; padding-right:18px;}
.moduletable-categories ul.level1 li a.parent:hover , .moduletable-categories ul.level1 li a.parent.active , .moduletable-categories ul.level1 li a.parent.selected  { margin-right:2px; padding-right:36px!important;}


.moduletable-categories ul.level2 li a.parent { padding-right:0px !important; margin-bottom:0px;}

.moduletable-categories ul.level2 { background:none; width:193px;  padding:0px; list-style-type:none; margin:0; position:absolute !important; top:42px !important; left:0px !important; visibility:hidden; }
.moduletable-categories ul.level2 li { background:none!important; border:none; border-top:none;   font-weight:normal; padding:0 0 0 0px; margin:0; position:relative; float:none!important;}
.moduletable-categories ul.level2 li a { text-decoration:none; font:normal 12px/25px Arial, Helvetica, sans-serif; padding:0px 0px 0px 10px !important; margin:0;border:1px solid #fff!important; border-top:none!important;
color:#c36318; display:block; margin:0 0 0 0px; background:#f6f6f6 !important; text-transform:none; letter-spacing:0;}

.moduletable-categories ul.level2 li a:hover, .moduletable-categories ul.level2 li a.active , .moduletable-categories ul.level2 li a.selected { text-decoration:none; color:#fff;  background:#2b2b2b !important; border:1px solid #2b2b2b!important;border-top:none!important; margin:0; }

.moduletable-categories ul.level3 {background:none; width:193px;  padding:0px; list-style-type:none; margin:0; position:absolute !important; top:0px !important; left:191px !important; }
.moduletable-categories ul.level3 li a { color:#c36318;}
.moduletable-categories ul.level3 li a:hover, .moduletable-categories ul.level3 li a.active { color:#fff!important;}

/* ######### CSS classes applied to down and right arrow images  ######### */


.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
display:none !important;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
}

    
/*----------- main ------------*/
.main {
	width: 100%;
	background: url('/static/images/box-special.jpg') center top no-repeat;
	}
	
	.main .align {
		float: top;
		width: 100%;
		height: 637px;
		}

	.main .bookshelf {
		width: 100%;
		height: auto;
		list-style: none;
		position: relative;
		background: none;
		height: 637px;
		margin: 0;
		padding: 0;
		border: none;
		}
		
		.main .bookshelf .row_product {
			float: left;
			width: 182px;
			overflow: hidden;
			position: relative;
			min-height: 245px;
			padding: 0;
			margin: 0;
			}
			
		.main .bookshelf .shadow {
			width: 179px;
			height: 246px;
			position: absolute;
			right: 1px;
			top: 0;
			z-index: 0;
			background: url('/static/images/product_image_shadow.png');
			}
			
			.main .bookshelf .shadow img {
				background: white;
				height: 236px;
				width: 157px;
				position: relative;
				z-index: 1;
				}
				
	.main .bookshelf li {
		display: block;
		float: none;
		list-style: none;
		min-height: 300px;
		width: auto;
		margin: 0 0 0 0px;
		padding: 20 33px 0 56px;
		overflow: hidden;
		background: url('/static/images/Row-product-bot.png') bottom no-repeat;
		}

	.main .bookshelf li: first-child {
		margin-top: 30px;
		}

	.main .content {
		float: top;
		padding: 0px 0px 21px 0;
		margin: 0px 0 0 0;
		background: url('/static/images/content-bg.gif') left top repeat-x;
		width: 100%;
		height: 700px;
		position: relative;
		z-index: 5;
		}
	
	.main .content .right {
		float: right;
		width: 220px;
		height: 100%;
		margin: 0px;
		}
			
	.main .content .left {
		float: right;
		height: 100%;
		width: 740px;
		margin: 0px;
	}
	
		.main .content .left .boxIdent {
			width: 100%;
			height: 300px;
			padding: 24px 0 40 30;
			margin: 0 0 -33 0px;
			position: relative;
			border: none;
			background: none;
			}
			
			.main .content .left .boxIdent .books {
				float: left;
				background: none;
				border: none;
				position: relative;
				padding: 0px;
				margin: 0px 30 0 0;
				width: 117px;
				height: 100%;
			}
			
			.main .content .left .boxIdent .books img {
				width: 117px;
				height: 175px;
				}
			
			.main .content .left .boxIdent .books .name {
				padding: 15px 0 0 0;
				margin: 0px;
				text-align: left;
				min-height: 37px;
				border-bottom: none;
				}
			
			.main .content .left .boxIdent .books .name a {
				color: #C36318;
				font: normal 12px/18px Arial, Helvetica, sans-serif;
				text-decoration: none;
				text-transform: none;
				}
				
			.main .content .left .boxIdent .books .info {
				padding: 1px 0px 0px 0px;
				margin: 0;
				border-top: none;
				position: relative;
				overflow: hidden;
				width: 100%;
				}
				
			.main .content .left .boxIdent .books .info .number {
				padding: 0px 0px 0px 0px;
				margin: 0;
				margin-top: 10px;
				border-bottom: none;
				position: relative;
				color: #303030;
				font: normal 12px/18px Arial, Helvetica, sans-serif;
				float: none;
				width: auto;
				height: 20px;
				}
			
			.main .content .left .boxIdent .books .info .button {
				float: none;
				margin: 0px 0 0 0px;
				padding: 15px 0 0 0;
				width: 100%;
				text-align: left;
				}
				
			.main .content .left .boxIdent .books .info .button .download {
				background: url(../images/button1.png) left top no-repeat;
				border: none;
				color: #967C68;
				text-transform: lowercase;
				font: bold 12px/1.3em Arial, Helvetica, sans-serif;
				letter-spacing: 0px;
				vertical-align: top;
				display: inline-block;
				padding: 0px 0px 2px 0px;
				margin: 0;
				width: 90px;
				height: 33px;
				text-align: center;
				cursor: pointer;
				text-decoration: none;
				}
	
		.main .content .left h3 {
			color: #2b2b2b;
			letter-spacing: 0;
			background: none;
			font: normal 27px/27px Arial, Helvetica, sans-serif;
			margin: 30px 0 0 0;
			padding: 0 0 8 30px;
			text-transform: none;
			}
		
		.main .content .left em {
			color: #c36318;
			font-style: normal;
			}
		
/*----------- footer ----------*/
.footer {
	float: top;
	padding-top: 70px;
	width: 100%;
	height: 120px;
}
	
	.footer .content {
		margin-top: 10px;
		height: 100%;
		width: 100%;
		border-top: 1px solid #C0C0C0;
	}
		.footer .content .left {
			float: left;
			padding: 20px 0px 0px 0px;
			height: 100px;
			width: 300px;
		}

		.footer .content .right {
			float: right;
			padding: 20px 0px 0px 0px;
			width: 200px;
			height: 33px;
			overflow: hidden;
		}
		
		.footer .content ul {
			float: left;
			margin: 0px;
			padding: 0px;
			height: 20px;
			width: 100%;
		}
		
		.footer .content li {
			float: left;
			padding: 0px 20px 0px 0px;
			font: bold 11px Arial;
		}
		
		.footer .content p {
			float: left;
			font: 12px Arial;
			color: #808080;
		}

/*--------------------------detail---------------------*/
.detail {
	padding: 41px 0px 21px 0;
	margin: 0;
	background: url('/static/images/content-bg.gif') top repeat-x;
	width: 100%;
	position: relative;
	z-index: 5;
	}
	
	.detail .right {
		float: right;
		height: 100%;
		width: 220px;
		margin: 0;
		}
	
	.detail .left {
		float: right;
		width: 720px;
		height: 100%;
		overflow: hidden;
		position: relative;
	}		
	
	.detail .left .product_border {
		border: 1px solid #e5e5e5;
		padding: 25 25 29 25px;
		background: white;
		}
		
		.detail .left .product_wrapper {
			overflow: hidden;
			width: 100%;
			}
			
			.detail .left .product_wrapper .float_left {
				float: left;
				width: 260px;
				}
				
			.detail .left .product_wrapper .float_left .browseImg {
				float: none;
				margin: 0;
				padding: 4px 0 0 0;
				width: 260px;
				background: url('/static/images/Product-border-bg.gif) left bottom no-repeat;
				cursor: pointer;
				}
				
				.detail .left .product_wrapper .float_left .browseImg .showImg {
					padding: 0 0 4px 33px;
					margin: 0;
					border: 1px solid #e5e5e5;
					text-align: left;
					width: auto;
					height: auto;
					background: none;
					}
					
				.detail .left .product_wrapper .float_left .browseImg .showImg img {
					width: 220px;
					height: 331px;
					margin: 16px 0 23 -14;
				}
			.detail .left .product_wrapper .float_element {
				padding: 0;
				margin: 0 0 0 29px;
				float: left;
				width: 330px;
				position: relative;
			}
		
			.detail .left .product_wrapper .float_element .title {
				width: 100%;
				float: none;
				color: #505050;
				margin: 0;
				padding: 0 0 17px 0;
				font: normal 18px/20px Arial, Helvetica, sans-serif;
				border-bottom: 1px solid #E5E5E5;
				}
				
			.detail .left .product_wrapper .float_element .description {
				width: 100%;
				color: #aeadadad;
				font: normal 12px/17px Arial, Helvetica, sans-serif;
				padding: 15px 0 15px 0;
				border-bottom: 1px solid #E5E5E5;
				}
				
			.detail .left .product_wrapper .float_element .question {
				float: right;
				height: 20px;
				padding: 0 0 0 20px;
				margin: 24px -11px 0 0;
				background: url('/static/images/no-button-bg.png') no-repeat;
				}
			
			.detail .left .product_wrapper .float_element .download {
				background: url('/static/images/button1.png') no-repeat;
				border: none;
				display: inline-block;
				height: 33px;
				width: 90px;
				margin-top: 15px;
				cursor: pointer;
				padding: 0;
				outline: none;
				}
				
			.detail .left .product_wrapper .float_element .download p {
				color: #967c68;
				font: bold 12px/1.2em Arial, Helvetica, sans-serif!important;
				margin-top: 10px;
				letter-spacing: 0px;
				text-transform: none;
				text-decoration: none;
				text-align: center;
				}
				
/*--------------------category-----------------*/
		.detail .left h3 {
			background: none;
			font: normal 27px/27px Arial, Helvetica, sans-serif;
			letter-spacing: 0px;
			text-transform: none;
			color: #2B2B2B;
			border: none;
			padding: 2px 0 8px 1px;
			margin: 0px 0px 0px 0px;
			}

.orderby_form form {
	background: #F3F3F3;
	padding: 7px 0 7px 19px;
	border: none;
	font-size: 12px;
	color: #818181;
	position: relative;
	}
		
	.orderby_form form .inputbox {
		color: #BEBEBA;
		height: auto;
		padding: 2px 1px 2px 2px;
		line-height: 16px;
		width: 190px;
		margin: 1px 0 0 6px;
		}		
			
.product_list {
	padding-top: 10px;
	border-bottom: 1px solid #e5e5e5;	
	}
				
.product_list .odd {
	background: #fefdfd;
	}
	
.product_list .even {
	background: #fbfbfb;
	}

.product_list .browse_1 {
	border: 1px solid #E5E5E5;
	border-bottom: none;
	min-height: 130px;
	padding: 8px 29px 10px 9px;
	margin: 0;
	position: relative;
	}
	
	.product_list .browse_1 .separator {
		overflow: hidden;
		width: 100%;
		}
		
	.product_list .browse_1 .separator .floatElementR {
		float: right;
		border-left: 1px solid #E5E5E5;
		margin-top: 21px;
		min-height: 88px;
		width: 134px;
		padding-left: 20px;
		}
		
	.product_list .browse_1 .separator .floatElementR .browseAddToCartContainer {
		width: 100%;
		overflow: hidden;
		text-align: left;
		}
	
	.product_list .browse_1 .separator .floatElementR .browseAddToCartContainer .button {
		background: url('/static/images/button1.png') left top no-repeat;
		border: none;
		padding: 0 0 0px 0;
		display: inline-block;
		height: 33px;
		width: 90px;
		margin-top: 13px;
		cursor: pointer;
		position: relative;
		outline: none;
		}
	
	.product_list .browse_1 .separator .floatElementR .browseAddToCartContainer .button p {
		letter-spacing: 0px;
		margin-top: 10px;
		color: #967C68;
		text-transform: none;
		font: bold 12px/1.2em Arial, Helvetica, sans-serif;
		text-align: center;
		text-decoration: none;
		}

	.product_list .browse_1 .separator .productImg {
		margin: 0px 0px 0px 0px;
		padding: 5px 0 8px 10px;
		float: left;
		width: 118px;
		height: autopx;
		background: white;
		border: 1px solid #E5E5E5;
		}
		
	.product_list .browse_1 .separator .productImg img {
		margin: 3px 25px 0px 0px;
		text-align: center;
		text-decoration: none;
		width: 110px;
		height: 165px;
		background: #FDFDFD;
		}
		
	.product_list .browse_1 .separator .floatElement {
		padding: 18px 10px 0 29px;
		float: left;
		width: 315px;
		position: relative;
		}

	.product_list .browse_1 .separator .floatElement .title {
		width: 100%;
		font-size: 12px;
		margin: 0;
		padding: 1px 0 14px 0;
		float: none;
		font-weight: bold;
		}

	.product_list .browse_1 .separator .floatElement .description {
		margin: 0px 0px 0px -1px;
		float: none;
		padding: 0px 5px 11px 0px;
		color: #AEADAD;
		font-size: 12px;
		line-height: 17px;
		min-height: 34px;
		}

	.product_list .browse_1 .separator .floatElement .rating {
		margin: 0px 0px 0px 0px;
		float: none;
		padding: 0px 0px 0px 0px;
		width: 100%;
		color: #AEADAD;
		font-size: 12px;
		line-height: 17px;
		}
		
	.product_list .browse_1 .separator .floatElement .rating .star {
		margin: 2px 0 0 0;
		}

	.product_list .browse_1 .separator .floatElement .rating strong {
		display: inline-block;
		font-weight: normal;
		font-size: 12px;
		line-height: 17px;
		color: #6C6C6C;
		padding-top: 4px;
		padding-left: 2px;
		}

	.product_list .browse_1 .separator .floatElement .detail {
		height: 16px;
		padding: 0;
		margin: 0;
		background: url('/static/images/DetailsContainer-bg.gif') left top no-repeat;
		padding-left: 22px;
		}

	.product_list .browse_1 .separator .floatElement .details { 
		background: url('/static/images/product_details.gif') right center no-repeat;
		border: none;
		color: #6C6C6C;
		display: inline-block;
		font: normal 12px/17px Arial, Helvetica, sans-serif;
		text-decoration: underline;
		text-transform: none;
		vertical-align: middle;
		padding: 0px 8px 0 0;
		margin: -2px 0 0 0;
		text-align: left;
		}


/*----------------------login-----------------------*/
.login {
	width: 100%;
	height: 300px;
	}

.login .content {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding-top: 100px;
	}




































				
				